@import url('./common.css');

body{
  display: flex;
}

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
}

a {
  color: #fff;
  transition: color 200ms;
}

a:hover {
  color: rgb(116, 116, 116);
}

form {
  position: relative;
  color: #fff;
  max-width: 20em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em auto;
  box-sizing: border-box;
}

input {
  color: #fff;
  padding: .6em .6em;
  background-color: #514869;
  border: none;
  border-radius: .2em;
  margin: .5em 0;
}

small {
  display: flex;
}

input:focus {
  outline: none;
  border: 0.063rem solid lightgrey;
}

label {
  color: #f0ffffde;
  width: 100%;
  font-weight: 300;
  margin-bottom: -.1em;
  margin-top: 1.3em;
  font-size: 1rem;
}

button {
  position: relative;
  width: 60%;
  padding: 0.75rem 0.0625rem;
  background-color: var(--color-button);
  color: #2b134b;
  margin-top: 2em;

  font-weight: 400;
  font-size: 1em;
  box-shadow: 0 0.625rem 2.5rem -0.75rem #00ff8052;
  transition: all 100ms;
}

button:hover {
  background: var(--color-title);
}

#botaoAcessar {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: bold;
}

#btn-criar-conta {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: bold;
}

button:disabled {
  background-color: #676767;
}

.button--text {
  display: none;
}

.form-header {
  color: grey;
  font-size: 2em;
}

.ingressar{
  text-align: center;
}

.left{
  width: 50%;  
  background-color: var(background);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-text > h1 {
  color: var(--color-title);
  margin-bottom: 1rem;
  font-size: 2.7rem;
  font-weight: bold;
}

.left img{
  width:60%;
}

.right{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 60%;
  background-color: #2f2841;
  padding: 1.875rem 0;
  border-radius: 1.25rem;
  box-shadow: 0 0.625rem 2.5rem #00000056;
  margin-bottom: 1rem;
}

.card form {
  width: 100%;
}

.card form .title-signup {
  font-size: 2.5rem; 
}

.card form input {
  width: 97%;
}

.card form h1 {
  color: var(--color-button);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.card form p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.erros {  
  width: 100%;
  padding: 0.5rem;
  /* background-color: rgba(255, 143, 143, 0.466); */
}

.erros #error-list li{
  color: rgb(191, 45, 45);
  padding: 0.25rem;
  list-style: none;
}

@media(max-width: 600px) {
  .left { 
    display: none; 
  } 
  .right { 
    width: 100%; 
  } 
} 