.card, .ingressar {
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		transform: scale(0.5);
		opacity: 0%;
	}

	to {
		transform: scale(1);
		opacity: 100%;
	}
}

input:focus {
	border-color: #8E64C5;
	background: #8e64c546;
	transition: 2.1s;
}

#create-conta {
	animation-name: slideinCreate;
}

@keyframes slideinCreate {
	from {
		margin-bottom: 0%;
		opacity: 0%;
	}

	to {
		margin-top: 20;
		opacity: 100%;
	}
}

.descricao{
	color: #fff;
}